@import './mixin.scss';
figure {
    @apply w-[89.33%] aspect-[351/621];
    background-image: url('/images/table.png');
    @apply bg-no-repeat bg-contain;
    @apply flex flex-col items-center gap-6
    pt-8;

    & > div.table-title {
        @apply text-center;

        & > p:nth-child(2) {
            @apply text-xl font-semibold;
        }
    }

    & > table {
        @apply w-[88.32%];
        border-right: 1px solid var(--allBlack);

        & thead th {
            @apply text-xl font-semibold p-3;

            &.out {
                border-right: 1px solid var(--allBlack);
                border-bottom: 1px solid var(--allBlack);
            }
            &.in {
                border-right: 1px solid var(--gray);
                border-bottom: 1px solid var(--allBlack);
            }
        }

        & tbody {
            & td.label {
                @apply p-2 w-[20%];
                border-right: 1px solid var(--allBlack);
                border-bottom: 1px solid var(--allBlack);
                &.in-b {
                    border-bottom: 1px solid var(--gray);
                }

                & p {
                    @apply text-center;

                    &:first-child {
                        @apply text-[9px] font-semibold;
                        // xs:text-[9px];
                    }

                    &:nth-child(2) {
                        @apply text-[7.82px];
                    }
                }
            }

            & td.text {
                &.in {
                    border-right: 1px solid var(--gray);
                    border-bottom: 1px solid var(--allBlack);
                }
                &.out {
                    border-right: 1px solid var(--allBlack);
                    border-bottom: 1px solid var(--allBlack);
                }

                & p {
                    @apply text-center;

                    &:first-child {
                        @apply text-xs font-semibold;
                    }

                    &:nth-child(2) {
                        @apply text-[7.82px];
                    }
                }
            }

            & td.box {
                &.in-b.in-r {
                    border-right: 1px solid var(--gray);
                    border-bottom: 1px solid var(--gray);
                }
                &.in-b.out-r {
                    border-right: 1px solid var(--allBlack);
                    border-bottom: 1px solid var(--gray);
                }
                &.out {
                    border-right: 1px solid var(--allBlack);
                    border-bottom: 1px solid var(--allBlack);
                }
                &.in {
                    border-right: 1px solid var(--gray);
                    border-bottom: 1px solid var(--allBlack);
                }

                &.black div {
                    @include box(--black);
                }
                &.red div {
                    @include box(--red);
                }
                &.blue div {
                    @include box(--blue);
                }
                &.white div {
                    @include box(--white);
                }
            }
        }
    }
}
